@model Codell.Pies.Web.Models.CreatePieModel
@section Scripts
{
    <script src="~/signalr/hubs" type="text/javascript"></script> 
    <script type="text/javascript">
        $(function() {
            $('#Name').blur(function() {
                var form = $(this).closest('form');
                $.post(form.attr('action'), form.serializeArray());
            });
            var messenger = $.connection.messenger;

            messenger.client.pieStarted = function(data) {
                $('#message').html(data);
            };

            $.connection.hub.start();
        });
    </script>
}
<h2>Create</h2>
<div>
    @using (Html.BeginForm())
    {
        @Html.TextBoxFor(m => m.Name) @: is made up of:
        @Html.HiddenFor(m => m.Id)
    }
    <div id="message"></div>
</div>

