@model Codell.Pies.Web.Models.CreatePieModel
@section Scripts
{
    <script type="text/javascript">
        $(function() {
            //var pie = $.connection.pie;
            //pie.client.sliceAdded = function (data) { $('#slices').append(data); };
            //pie.client.slicePercentageRejected = function (data) {
            //    $.mhub.send(pies.messages.percentRejected(data.Id), data);
            //};
            //$.connection.hub.start();
            var $create = $('#create');
            var vm = new pies.cr8.ViewModel('@Model.Id', '@Url.Action("UpdatePieCaption")', '@Url.Action("AddIngredient")');
            ko.applyBindings(vm, $create[0]);
            $('a', $create).button();
        });
    </script>
}
<div id="create">
    <div class="row">
        <span class="data-label">Caption</span>
        <input class="caption" type="text" data-bind="blur: caption"/>
    </div>  
    <div class="row">
        <span class="data-label">Ingredient</span>
        <input class="ingredient" type="text" data-bind="value: ingredientToAdd"/>
        <a href="#" title="Add" data-bind="click: addIngredient">
            <span class="ui-icon ui-icon-circle-plus"></span>
        </a>
    </div>
    <div data-bind="foreach: ingredients">
        <div data-bind="html: $data"></div>
    </div>
</div>

