@using Codell.Pies.Web.Extensions
@model IEnumerable<Codell.Pies.Web.Models.Shared.PieModel>
@section Scripts
{
    <script type="text/javascript">
        $(function() {
            var $scope = $('#pies');
            $('#search', $scope).button({icons: {primary: "ui-icon-search"}, text: false});            
            ko.applyBindings(new cc.pies.index.ViewModel(@Html.Raw(Model.ToJson()), { findUrl: '@Url.Action("Find", "Search")' }), $scope[0]);
        });
    </script>    
}
<div id="pies">
    <div class="search-bar">
        &nbsp;
        <div>
            <input type="text"  placeholder="Search" data-bind="autocomplete: {sourceUrl: '@Url.Action("GetTags", "Search")' }, selected: selectedTag"/>
            <a id="search" href="#" data-bind="click: find">Search</a>
        </div>
    </div>    
    <div data-bind="template: { name: 'pie-template', foreach: pies }"></div>        
    <script type="text/html" id="pie-template">
        <div class="pie">
            <div data-bind="pieChart: $data, pieOptions: { chartMap: { data: 'allIngredients', title: 'caption' }, dataMap: { text: 'description', value: 'percent', color: 'color'} }"></div>
        </div>
    </script>    
</div>

