.x-mask-inner {
	@include border-radius(10px);
}
.x-button {
	color: $font-color;
}
.x-menu {
	padding: 0;	
}
.x-title {
	font-weight: normal;
}
.x-panel.x-floating, .x-anchor.x-anchor-top, .x-anchor.x-anchor-bottom  {
	background-color: #ffffff !important
}