$experimental-support-for-mozilla : false;
$experimental-support-for-webkit : false;
$experimental-support-for-opera : false;
$experimental-support-for-microsoft : false;
$experimental-support-for-khtml : false;

$pies-label: 'pies';
$pies-primary-color: #4E769F;
$pies-menu-color: #EEEEEE;

$font-color: #4A4A4A;
//Remove all gradients, box and text shadows
$include-highlights: false;

//$sheet-bg-color: #212529;
$opacity: 0.6;
$sheet-bg-color: rgba(33, 37, 41, $opacity);

@import 'sencha-touch/default';
@import 'sencha-touch/default/all';
@import '_sencha-overrides';

body{
	color: $font-color;
}
.center {
	text-align: center;
	-webkit-box-pack: center !important;
}
.quiet, .quiet .x-title {
	font-weight: normal;
}
.titlebar {
	background-color: $pies-primary-color;
	border-style: none !important;
}
.btn {
	color: $font-color !important;
}
.blur{
    -webkit-filter: blur(15px);
}
.header, .legend-item {
    font-weight: bold;
    font-size: 14px; 
    text-align: center;        
}
.header {
    margin-top: 10px;
}
.pie {
	margin-top: 30px;
}
.legend-item-container {
    text-align: center;  
    margin-left: auto;
    margin-right: auto;    
}
.legend-item {
    border: 1px solid #CCC;
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 1px;
    display: inline-block;
    padding: 10px 10px 10px 25px;
    min-width: 46px;
    position: relative;
}
.legend-marker {
    margin-right: 4px;
    width: 11px;
    height: 11px;
    border-radius: 5px;
    position: absolute;
    top: 13px;
    left: 9px;
}
.user {
	height: 60px;
	width: 60px;	
	border-radius: 30px;
	border: 2px solid $pies-primary-color;
	padding: 6px;
	margin-bottom: 10px;
}
.user-photo {
	color: $font-color;
	background-color: $pies-menu-color;
	height: 44px;
	width: 44px;	
	border-radius: 22px;
	font-size: 36px;
}
.user-name {
	font-size: 90%;
}
.user-menu-item {
	background-color: $sheet-bg-color;
}
.sign-in {
	background-color: #ffffff;
	padding: 20px 5px;
}
.nav-btn {
	//margin: 5px !important;
	font-size: 40px;
	@extend .center;
}
.gplus {
	color: #DD4B39;
	@extend .nav-btn;
}
.twitter {
	color: #05B0DE;
	@extend .nav-btn;
}
.facebook {
	color: #3C599B;
	@extend .nav-btn;
}
.menu-item .x-dataview-item, .user-menu-item {
	 padding: 15px;
	 color: $pies-menu-color !important;
	 border-bottom: 1px solid $pies-menu-color;
}
.round-btn {
	color: #ffffff;
    height: 32px;
    width: 32px;
    border-radius: 16px;
	border: none;
	margin-right: 5px;
	font-size: 11px;
}
.action-bar {
	margin-top: 10px;
	@extend .center
}
.edit {
    background-color: #DB843D;
	@extend .round-btn;
}
.delete {
    background-color: #89A54E;
	@extend .round-btn;
}
.email {
	background-color: #BF3519;
	@extend .round-btn;
}
//@include sencha-toolbar-ui('edit', rgb(219, 132, 61), 'flat');
@include icon-font('IcoMoon', inline-font-files(
  'icomoon/icomoon.woff', woff,
  'icomoon/icomoon.ttf', truetype,
  'icomoon/icomoon.svg', svg,
  'icomoon/icomoon.eot', eot
));
//@include icon('menu' , ')', 'IcoMoon');
@include icon('gplus', '%', 'IcoMoon');
@include icon('facebook', '&', 'IcoMoon');
@include icon('twitter'  , "'", 'IcoMoon');
@include icon('chart', '"', 'IcoMoon');
@include icon('plus', "(", 'IcoMoon');
@include icon('pencil', '!', 'IcoMoon');
@include icon('trash', '#', 'IcoMoon');
@include icon('email', '$', 'IcoMoon');

