@using Codell.Pies.Web.App_Start
@{ Layout = null; }
<!DOCTYPE HTML>
<html manifest="" lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Pies - Sencha</title>
    @Styles.Render(BundleConfig.Names.SenchaStyles)
    <!-- The line below must be kept intact for Sencha Command to build your application -->
    <script id="microloader" type="text/javascript" src="@Url.Content("~/Areas/Sencha/touch/microloader/development.js")"></script>
</head>
<body>
    <div id="appLoadingIndicator">
        <div></div>
        <div></div>
        <div></div>
    </div>
</body>
</html>

