<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
    <sectionGroup name="data.storage.application">
      <section name="module" type="Codell.Pies.Data.Storage.Configuration.ModuleSection, Codell.Pies.Data.Storage" />
      <section name="store" type="Codell.Pies.Data.Storage.Configuration.StorageSection, Codell.Pies.Data.Storage" />
    </sectionGroup>
  </configSections>
  <autofac configSource="Autofac.config" />
</configuration>