body,html {
    font-family: Verdana, Arial;
    background-color: #f6f6f6;
    margin: 0;
    font-size: 14px;
    height: 100%;
}

h3, a, a:visited, #error {
    color: #4e769f;    
}

input[type=text], .ingredient-desc {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;    
}

input[type=text]
{
    border: #aaa 1px solid;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
}

table {
    width: 100%;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: underline;
}

.top-nav {
    background-color: #4e769f;
    height: 35px;
    line-height: 35px;
    margin-bottom: 25px;
    color: #ffffff;
    padding: 5px;
    font-size: 12px;
}

.nav-bar, .container, .title, .tabs {
    margin-left: auto;
    margin-right: auto;
    width: 1020px;
    min-width: 1020px;
    background-color: #ffffff;   
    padding: 10px;
    position: relative; 
}

.clear {
    clear: both;
}

.center {
    text-align: center;
}

.title {
    background-color: #f6f6f6;
}

.p, .i, .e, .s, .period {
    font-size: 25px;
    font-weight: bold;
    margin-left: 18px;
}

.p
{
    color: #AA4643;
}

.i
{
    color: #4572A7;
}

.e {
    color: #89A54E;    
}

.s
{
    color: #DB843D;
}

.period
{
    color: #FF3399;
}

.title>img {
    vertical-align: middle;
}

#error {
    height: 90px;
    line-height: 90px;
}

.tabs {
    background-color: transparent;
    padding-bottom: 0;
}

.tabs ul {
	text-align: left;
	list-style: none;
    padding-left: 26px;
	line-height: 24px;
	height: 26px;
	overflow: hidden;
	position: relative;
    margin: 0;
    top: 18px;  
}

.tabs ul>li {
    background: #D1D1D1;
    background: -o-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -ms-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -moz-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: -webkit-linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
    display: inline-block;
    position: relative;
    z-index: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
    -webkit-text-shadow: 0 1px #FFF;
    text-shadow: 0 1px #FFF;
    margin: 0 -5px;
    padding: 0 20px;
}

.tabs ul>li>a {
	color: #555;
	text-decoration: none;
    outline: none;
}

.tabs ul>li.selected {
	background: #FFF;
	color: #333;
	z-index: 2;
	border-bottom-color: #FFF;
}

.tabs ul>li:before, .tabs ul>:after {
	border: 1px solid #AAA;
	position: absolute;
	bottom: -1px;
	width: 5px;
	height: 5px;
	content: " ";    
}

.tabs ul>li:before {
    left: -6px;
    border-bottom-right-radius: 6px;
    border-width: 0 1px 1px 0;
    -webkit-box-shadow: 2px 2px 0 #D1D1D1;
    box-shadow: 2px 2px 0 #D1D1D1;
}

.tabs ul>li:after {
    right: -6px;
    border-bottom-left-radius: 6px;
    border-width: 0 0 1px 1px;
    -webkit-box-shadow: -2px 2px 0 #D1D1D1;
    box-shadow: -2px 2px 0 #D1D1D1;
}

.tabs ul>li.selected:before{
    -webkit-box-shadow: 2px 2px 0 #FFF;
    box-shadow: 2px 2px 0 #FFF;
}

.tabs ul>li.selected:after{
    -webkit-box-shadow: -2px 2px 0 #FFF;
    box-shadow: -2px 2px 0 #FFF;
}

.sign-in-out {
    float: right; 
    top: -4px; 
    position: relative;
}

.greeting {
    margin-right: 20px;
    cursor: default;
    color: #555;
}

.container, .tabs ul>li, .search-bar div  {
    border: 1px solid #AAA;
}

.container{
    position: relative;
    border-width: 1px 1px 1px 1px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    overflow: auto;
    margin-bottom: 10px;
    min-height: 431px;
}

.important {
    color: red;
}

.message {
    clear: both;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: auto;
    text-align: center;
}

.page-bar {
    clear: left;
    text-align: center;
}

.page-bar span {
    cursor: default;
}

.page-bar a, .page-bar span {
    margin-left: 8px;
    padding: 0 3px;
}

.kitchen, .preview, .pie-preview, .share-pie {
    display: inline-block;
}

.search-bar {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.search-bar div {
    position: relative;
    float: right;
    padding: 10px;
    top: -20px;
    right: -10px;
    border-width: 0 0 1px 1px;
    border-bottom-left-radius: 10px;
}

.pie {
    width: 33%;
    float: left;
    position: relative;
}

.pie-toolbar {
    position: relative;
    text-align: center;
}

.label {
    width: 100px;
    display: inline-block;
}

.caption, .ingredient, .tags, .ingredient-slider {
    width: 250px;
}

td.ingredient{
    width: 255px;
    padding-right: 10px;
}

.kitchen, .kitchen-top, .search-bar div {
    background-color: #dfeffc;
}

.kitchen{
    width: 48%;
    padding: 10px;
    border: 1px #dfdfdf solid;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    height: 100%;
    vertical-align: top;
    min-height: 435px;
}

.kitchen-top {
    padding-bottom: 10px;
    border: 1px solid #dfeffc;
}

.ingredients table {
    border-left: 1px #dfdfdf solid;   
    border-right: 1px #dfdfdf solid;     
}

.ingredients table:first-child {
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;   
    border-top: 1px #dfdfdf solid;  
}

.ingredients table:not(:first-child) {
    border-top: 1px #dfdfdf solid;   
}

.ingredients table:last-child {
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    border-bottom: 1px #dfdfdf solid;           
}

.preview {
    width: 49%;
    overflow: hidden;
    position: relative;
}

.pie-preview {    
    width: 90%;
}
.share-pie{
    width: 10%;
    height: 96%;
    position: absolute;
    right: 0;
    padding-top: 10px;
}

.share-pie img {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    padding-bottom: 10px;
    cursor: pointer;
}

.ingredient-container {
    padding-top: 10px;
    background-color: #f6f6f6;
}

.ingredient-desc {
    margin-bottom: 15px;
    padding: 5px;
}

.ingredient-slider {
    position: relative;
    left: 8px;
    float: left;
}

.ingredient-color {
    text-align: center;
}

.add {
    position: relative;
    top: 13px;
    border: 0;
}

.sp-replacer {
    background-color: #e6e6e6 !important;
    border: #d3d3d3 1px solid !important;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px; 
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;     
}
