@model IEnumerable<AuthenticationClientData>
<div>
    <p>Do you already have an account on one of these sites? Click the button to <b>sign in</b> with it here:</p>

    @using (Html.BeginForm("ExternalLogin", "Account", new {ViewBag.ReturnUrl}))
    {
        @Html.AntiForgeryToken()   
        foreach (var provider in Model)
        {
            <button type="submit" name="provider" value="@provider.AuthenticationClient.ProviderName">@provider.DisplayName</button>
        }             
    }
</div>
<script type="text/javascript">
    $(function() {
        $('button[name="provider"]').button();
    });
</script>