@using Codell.Pies.Web.Extensions
@model Codell.Pies.Web.Models.Shared.PieModel
@section Scripts
{
    <script type="text/javascript">
        $(function() {
            ko.applyBindings(@Html.Raw(Model.ToJson()), $('.pie')[0]);
        });
    </script>
}
<div class="pie">
    <div data-bind="pieChart: $data, pieOptions: { chartMap: { data: 'allIngredients', title: 'caption' }, dataMap: { text: 'description', value: 'percent', color: 'color' } }"></div>
</div>
