@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) 
    {
        @Html.AntiForgeryToken()
        <a class="sign-in-out" href="javascript:document.getElementById('logoutForm').submit()">Sign out</a>
    }  
    <span class="greeting sign-in-out">Hello @User.Identity.Name</span>    
}
else
{
    <a class="sign-in-out" href="@Url.Action("Login", "Account")">Sign in</a>     
}