<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="Pies_Mongo" connectionString="mongodb://localhost/bakery?safe=true" />
  <add name="Pies_SqlServer" connectionString="Data Source=database;Initial Catalog=Bakery;Integrated Security=true;" providerName="System.Data.SqlClient" />
  <add name="Pies_SqlServer_AutoUpdate" connectionString="Data Source=database;Initial Catalog=Bakery;Integrated Security=true;" />
  <add name="Elmah" connectionString="Data Source=database;Initial Catalog=Bakery;Integrated Security=true;" />
</connectionStrings>