<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="Pies_Mongo" connectionString="mongodb://wj_travel:westjet@SRVYCSQLD151:27017/WJ_TRAVEL_DEV?safe=true" />
  <add name="Pies_SqlServer" connectionString="Data Source=database;Initial Catalog=Pies;Integrated Security=true;" providerName="System.Data.SqlClient" />
  <add name="Pies_SqlServer_AutoUpdate" connectionString="Data Source=database;Initial Catalog=Pies;Integrated Security=true;" />
  <add name="Elmah" connectionString="Data Source=database;Initial Catalog=Pies;Integrated Security=true;" />
</connectionStrings>